div.header-container {
    height: 50px;
    display: block;
    position: relative;
    background-color: rgba(112, 114, 226, 0.295);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100vw;
}

div.header-container::after {
    content: "";
    height: 60px;
    background: url('./../../assets/images/header-bg/bluewave-ita-bck.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}